<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>733818232650-5r9esnvcqefbmripjq1laqjjqihj23ph.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.733818232650-5r9esnvcqefbmripjq1laqjjqihj23ph</string>
	<key>API_KEY</key>
	<string>AIzaSyA7WUsKv_zh1VdVgkt3LYed5U5-EARCkac</string>
	<key>GCM_SENDER_ID</key>
	<string>733818232650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.pv.app</string>
	<key>PROJECT_ID</key>
	<string>pvalarmes-3f7ee</string>
	<key>STORAGE_BUCKET</key>
	<string>pvalarmes-3f7ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:733818232650:ios:e15fa703536f83d1f86bb3</string>
	<key>DATABASE_URL</key>
	<string>https://pvalarmes-3f7ee-default-rtdb.firebaseio.com</string>
</dict>
</plist>